version: "3"
services:
  server:
    tty: true
    stdin_open: true
    image: registry.gitlab.com/tstark2/static-server:1.0.0
    container_name: portfolio
    volumes:
      - "/var/www/portfolio/code:/static"
    networks:
      - portfolio
networks:
  portfolio:
    external: true
