/* index.css */
:root {
    --transparentBlack: rgba(0,0,0,0.75);
    --verticalMargin:calc(33vh / 2);
    --horizontalMargin:calc(33vw / 2);
}

body {
    padding:0;
    margin:0;
    font-family: 'Catamaran', sans-serif;
}

#menuButton {
    /* cursor:pointer;
    position:fixed;
    right:20px;
    top:20px;
    border:0; */
    padding:6px 12px;
    background-color:transparent;
}

#menuButton object {
    height:40px;
    width:auto;
}

#menuButton > * {
    pointer-events:none;
}

nav {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:10;
    background-color:var(--transparentBlack);
    width:0;
    height:0;
    padding:0;
    overflow:hidden;
    transition: height 0.75s, width 0.75s;
    border-radius:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

nav.open {
    height:50vh;
    width:50vh;
}

nav button {
    position:absolute;
    top:20px;
    /* right:50%; */
    /* transform:translateX(-50%); */
    border:0;
    background-color:#ff0000;
    border-radius:5px;
    padding:6px 12px;
    cursor:pointer;
}

nav button > * {
    pointer-events:none;
}

nav a {
    display:block;
    color:#fff;
    text-decoration:none;
    white-space:nowrap;
}

nav p {
    color:#ccc;
    position:absolute;
    bottom:50px;
    font-size:0.9em;
    font-style:italic;
}

.wrapper {
    width:80vw;
    margin:0 auto;
}

#hero {
    background-color:#f00;
    color:#fff;
}

#hero h1 {
    margin:0;
}

#hero img {
    height:300px;
    width:auto;
}

#work .container {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:10px;
}

#work .example {
    position: relative;
}

#work .example img {
    max-width:100%;
    height:auto;
}

#work .flyover {
    position:absolute;
    left:0;
    bottom:0;
    background:var(--transparentBlack);
    width:100%;
    color:#fff;
    padding:0 12px;
    box-sizing:border-box;
    height:0;
    transition:height .75s, padding .75s;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    overflow:hidden;
}

#work .flyover.open {
    height:100%;
    padding:6px 12px;
}

#work .flyover .name {
    font-size:1.25em;
}

#work .flyover p {
    margin:0;
}

#work .flyover a {
    color:#fff;
    padding:6px 12px;
    border:2px solid #fff;
    border-radius:5px;
    text-decoration:none;
}

#work .flyover a:hover {
    text-decoration:underline;
}

#work .flyover ul {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
    padding:0;
    width:100%;
    margin:0;
}

#work .flyover li {
    list-style-type:none;
    
}

#about .container {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:30px;
}

#about img {
    width:auto;
    height:300px;
    border-radius:50%;
    border:2px solid #000;
    background-color:#f00;
}

#contact a > * {
    pointer-events:none;
}