/* index.css */
:root {
    --transparentBlack: rgba(0,0,0,0.75);
}

body {
    padding:0;
    margin:0;
    font-family: 'Catamaran', sans-serif;
}

.wrapper {
    width:80vw;
    margin:0 auto;
}

@media screen and (max-width:850px) {
    .wrapper {
        width:95vw;
    }
}

#hero {
    min-height:100vh;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#heroBackground {
    position: absolute;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: 
        linear-gradient(
            rgba(255,0,0,0.75),
            rgba(0,0,255,0.45)
        ),
        url(../img/desk.jpg);
    background-size:cover;
    filter:blur(4px);
    z-index:1;
    background-position:center;
    padding-bottom:4px;
}

#heroText {
    color:#fff;
    z-index:2;
    text-align:center;
}

#heroText h1 {
    margin:0;
    font-size:3em;
}

#heroText p {
    margin:5px;
    font-size:1.5em;
}

@media screen and (max-width:850px) {
    #heroText h1 {
        font-size:2em;
    }

    #heroText p {
        font-size:1.25em;
    }
}

@keyframes scrollDown {
    0% {
        transform:translateY(100px);
    }
    50% {
        transform:translateY(120px);
    }
    100% {
        transform:translateY(100px);
    }
}

#heroText object {
    height:3em;
    transform:translateY(100px);
    animation-name:scrollDown;
    animation-duration:4s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:infinite;
}

main {
    background: linear-gradient(
        #25137c,
        #000
    );
    color:#fff;
}

main h2 {
    margin-top:0;
    font-size:2em;
    text-align:center;
    padding-top:20px;
}

#work .container {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:10px;
}

@media screen and (max-width:850px) {
    #work .container {
        grid-template-columns:1fr;
    }
}

#work .example {
    position: relative;
}

#work .example img {
    max-width:100%;
    height:100%;
    width:auto;
}

#work .flyover {
    position:absolute;
    left:0;
    bottom:0;
    background:var(--transparentBlack);
    width:100%;
    color:#fff;
    padding:0 12px;
    box-sizing:border-box;
    height:0;
    transition:height .75s, padding .75s;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    overflow:hidden;
}

#work .flyover.open {
    height:100%;
    padding:6px 12px;
}

#work .flyover .name {
    font-size:1.25em;
}

#work .flyover p {
    margin:0;
}

#work .flyover a {
    color:#fff;
    padding:6px 12px;
    border:2px solid #fff;
    border-radius:5px;
    text-decoration:none;
}

#work .flyover a:hover {
    text-decoration:underline;
}

#work .flyover ul {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
    padding:0;
    width:100%;
    margin:0;
}

#work .flyover li {
    list-style-type:none;
    
}

#about .container {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#about img {
    width:auto;
    height:300px;
    border-radius:50%;
    background-color:rgba(255,255,255,0.25);
}

@media screen and (max-width:850px) {
    #about .container {
        flex-direction:column-reverse;
    }

    #about img {
        height:200px;
    }
}

#contact {
    text-align:center;
    color:#fff;
    padding-bottom:20px;
}

#icons {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:33vw;
    margin:0 auto;
}

#icons a {
    height:3em;
}

#icons object {
    height:3em;
    pointer-events:none;
}

#icons a > * {
    pointer-events:none;
}

@media screen and (max-width:850px) {
    #icons {
        width:100%;
    }

    #icons object {
        height:2.25em;
    }
}